<h3>Random challenge from category "<%= @challenge.challenge_category.title %>"</h3>

<h4><%= @challenge.name %></h4>
<p><%= @challenge.description %></p>
<p>Points value: <%= @challenge.point_value %></p>
<p>Duration: <%= @challenge.duration %></p>