<h3>Articles:</h3>

<% @articles.each do |article| %>
	<%= article.title %>
	<%= simple_format "\n" %>

	<%= article.content %>
	<%= simple_format "Author: "%> <%= article.volunteer.superhero_name %>
	<%= simple_format "_____________" %>

<% end %>
