<!DOCTYPE html>
<html>
<head>
  <title>Dozadeoptimism</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div>
		<% if current_user %>
			<% if current_user.first_name && current_user.last_name %>
		  		Signed in as <%= current_user.first_name %> <%= current_user.last_name %> | <%= link_to "Logout", '/logout' %>
			<% elsif current_user.superhero_name %>
				Signed in as <%= current_user.superhero_name %> | <%= link_to "Logout", '/logout' %>
			<% end %>
		<% else %>
		  <%= link_to 'Login | Sign Up', '/login' %>
		<% end %>
	</div>
	<div>
		<%= link_to "Home", '/' %>
		<%= link_to "Articles", articles_path %>
		Superhero Stats
		Other links
		
	</div>

	<%= debug(params) if Rails.env.development? %>
	<%= yield %>

</body>
</html>
